[gerrit]
	basePath = /home/git/server
    canonicalWebUrl = http://192.168.10.91:8081
[database]
	type = H2
	database = db/ReviewDB
[auth]
	type = HTTP
[sendemail]
    smtpServer = smtp.gmail.com
    smtpServerPort = 465
    smtpEncryption = ssl
    smtpUser = gerrit.rogen@gmail.com
[container]
	user = git
	javaHome = /usr/local/jdk1.6.0_32/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://127.0.0.1:8080/
[cache]
	directory = cache
